---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2 text-white/60">
    &copy; {today.getFullYear()} Eric Chen / Magi Lab
  </div>
  <div class="inline opacity-30 text-xs">
    Built with <a href="https://astro.build/" target="_blank" class="font-bold">Astro</a>, 
    <a href="https://tailwindcss.com/" target="_blank" class="font-bold">Tailwind</a> & 
    <a href="https://pages.cloudflare.com/" target="_blank" class="font-bold">Cloudflare</a>. 
    Refined from <a href="https://astrofy-template.netlify.app/" target="_blank">Astrofy</a>.
  </div>
</footer>
<style></style>
